<div style="margin-top : 20px;">
    <div class="page-header">
        <span>Liste des enterprises</span>
        <div class="form-actions"> 
            <i data-ng-click="add()" class="glyphicon glyphicon-plus"></i>   
        </div>
    </div>
    <table class="table ">
        <tbody>
            <tr>
                <th>#</th>
                <th>raison sociale</th>
                <th>représentant</th>
                <th>rôle</th>
                <th>adresse</th>
                <th>téléphone</th>
                <th>actions</th>
            </tr>
            <tr data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-repeat="e in enterprises">
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.representant}}</td>
                <td>{{e.role}}</td>
                <td>{{e.adresse}}</td>
                <td>{{e.phone}}</td>

                <td>
                    <button class="btn btn-primary" data-ng-click="edit(e)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-warning" data-ng-click="remove(e)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>