<div style="margin-top : 20px;">
    <div class="page-header">
        <h2>Liste des enterprises</h2>
        <div class="form-actions"> 
            <i data-ng-click="addEnterprise()" class="glyphicon glyphicon-plus"></i>   
        </div>
    </div>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>Raison sociale</th>
                <th>Numéro SIRET</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Téléphone</th>
            </tr>
            <tr style="cursor : pointer;" data-ng-click="editEnterprise(e)" data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-repeat="e in enterprises">
                <td>{{e.id}}</td>
                <td>{{e.raison}}</td>
                <td>{{e.siret}}</td>
                <td>{{e.adresse}}</td>
                <td>{{e.ville}}</td>
                <td>{{e.tel}}</td>
            </tr>
        </tbody>
    </table>
</div>