<div style="margin-top : 20px;">
    <div class="page-header">
        <span>Liste des évênements</span>
        <div class="form-actions"> 
            <i data-ng-click="add()" class="glyphicon glyphicon-plus"></i>   
        </div>
    </div>
    <table class="table ">
        <tbody>
            <tr>
                <th>#</th>
                <th>nom</th>
                <th>description</th>
            </tr>
            <tr data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-repeat="e in events">
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.desc}}</td>

                <td>
                    <button class="btn btn-primary" data-ng-click="edit(e)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>                
                </td>
            </tr>

        </tbody>
    </table>
</div>