<div style="margin-top : 20px;">
    <div class="page-header">
        <h2>Liste des évênements</h2>
        <div class="form-actions"> 
            <i data-ng-click="add()" class="glyphicon glyphicon-plus"></i>   
        </div>
    </div>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Description</th>
            </tr>
            <tr data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-repeat="e in events">
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.desc}}</td>
            </tr>

        </tbody>
    </table>
</div>