<div class="page-header">
    <h2>Liste des offres d'alternance</h2>
    <div class="form-actions"> 
        <i data-ng-click="addOffer()"></i>   
    </div>
</div>
<div class="content">
    <table class="table table-striped table-hover card">
        <tbody>
            <tr>
                <th>#</th>
                <th>Offre</th>
                <th>Description</th>
            </tr>
            <tr style="cursor : pointer;" data-ng-click="editOffer(o)" data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-repeat="o in offers">
                <td>{{o.id}}</td>
                <td>{{o.titre}}</td>
                <td>{{o.desc}}</td>
            </tr>

        </tbody>
    </table>
</div>