<div style="margin-top : 20px;">
   <div class="page-header">
        <h2>Liste des salles  </h2>
        <div class="form-actions"> 
            <i data-ng-click="add()" class="glyphicon glyphicon-plus"></i>   
        </div>
    </div>
    <table class="table ">
        <tbody>
            <tr>
                <th>#</th>
                <th>Libellé</th>
                <th>Localisation</th>
                <th>Capacité</th>
            </tr>
            <tr style="cursor : pointer;" data-ng-click="editRoom(s)" data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-repeat="s in rooms">
                <td>{{s.id}}</td>
                <td>{{s.libelle}}</td>
                <td>{{s.localisation}}</td>
                <td>{{s.capacite}}</td>
            </tr>

        </tbody>
    </table>
</div>