<div style="margin-top : 20px;">
   <div class="page-header">
        <span>Liste des salles  </span>
        <div class="form-actions"> 
            <i data-ng-click="add()" class="glyphicon glyphicon-plus"></i>   
        </div>
    </div>
    <table class="table ">
        <tbody>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Libellé</th>
                <th>Localisation</th>
                <th>Capacité</th>
            </tr>
            <tr data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-repeat="s in rooms">
                <td>{{s.id}}</td>
                <td>{{s.libelle}}</td>
                <td>{{s.localisation}}</td>
                <td>{{s.capacite}}</td>

                <td>
                    <button class="btn btn-primary" data-ng-click="edit(s)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                  
                </td>
            </tr>

        </tbody>
    </table>
</div>