
<div style="margin : 0 0 0 0 ; margin-top : 20px;" class="row">
    <div class="col-sm-12 col-lg-12" >
        <div class="bjr">
            <span style="color: #fff; float: left;  margin-left: 20px;">bonjour </span>
            <span style="color: #fff; float: left; margin-left: 10px;">test</span>
        </div>

        <div data-carousel data-interval="myInterval">
            <div data-slide data-ng-repeat="slide in slides" data-active="slide.active">
                <img data-ng-src="{{slide.image}}">
            </div>
        </div>
        <div class="welcome">
            <span style="float: left; margin-top: 60px; margin-left: 20px;"></span>
            <span style="float: left; margin-left: 20px;">bienvenue</span>
        </div>
    </div>
</div>