<!-- NAVBAR -->

<div id="geoe-header" data-ng-controller="headerController">
    <div class="navbar navbar-default">
        <div class="container">
            <div>
                <div>
                    <img class="media-object" style="float: left;" src="app/img/logoPolytech.gif">
                    <a href="#" class="app-title logo">
                        app
                    </a>
                </div>

                <!--	<a href="#">{{'application_title'| translate}}</a> -->
            </div>

            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class=" navbar-collapse">

                <!-- .nav, .navbar-search, .navbar-form, etc -->
                <ul class="nav navbar-nav">
                    <li>
                        <div class="dropdown" data-on-toggle="toggled(open)">
                            <a class="dropdown-toggle " >
                                Toi Même
                                <div>&nbsp;</div>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- <li>
                                        <a href="#">menu 1</a>
                                </li>
                                <li>
                                        <a href="#">menu 2</a>
                                </li>
                                <li>
                                        <a href="#">menu 3</a>
                                </li>
                                <li class="divider"></li> -->
                                <li>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <button class=""></button>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>

