<!-- MENU -->

<section class="sidebar" >
    <!-- sidebar: navigation menu -->
    <ul class="sidebar-menu">
        <li> 
            <a id="menu-student" href="#/admin-student" >
                <i class='glyphicon glyphicon-user'></i>
                Etudiants
            </a>
        </li> 
        <li> 
            <a id="menu-enterprise" href="#/admin-enterprise">
                <i class='glyphicon glyphicon-home'></i>
                Entreprises
            </a>
        </li> 
        <li> 
            <a id="menu-room" href="#/admin-room">
                <i class='glyphicon glyphicon-th-large'></i>
                Salles
            </a>
        </li> 
        <li> 
            <a id="menu-offers" href="#/admin-offers">
                <i class='glyphicon glyphicon-th-large'></i>
                Offres d'alternance
            </a>
        </li>
        <li> 
            <a id="menu-events" href="#/admin-events">
                <i class='glyphicon glyphicon-th-large'></i>
                Événements
            </a>
        </li>
        <li> 
            <a id="menu-planning" href="#/planning">
                <i class='glyphicon glyphicon-th-large'></i>
                Planning
            </a>
        </li> 
        <li> 
            <a id="menu-events" href="#/test-file">
                <i class='glyphicon glyphicon-th-large'></i>
                Test fichiers
            </a>
        </li>
    </ul>
</section>
