

<div class="container-fluid content">
	<h3>V2 - version planning</h3>

	<!-- Barre sur le coté : échelle et légende -->
	<div class="appAdminPlanningSidebar">
		<div class="legend">08h00</div>
		<div class="legend">09h00</div>
		<div class="legend">10h00</div>
		<div class="legend">11h00</div>
		<div class="legend">12h00</div>
		<div class="legend">13h00</div>
	</div>

	<!-- Content : Liste des meetings -->
	<div class="appAdminPlanning">

		<div class="room">
			<div class="room-header">Salle 220</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">George ESTDOUX</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">TICTAC</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">Arnaud MARTIN</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">Volvo</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">Alice MERVEILLE</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">Wonderland</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
		</div>

		<div class="room">
			<div class="room-header">Salle 110</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">George ESTDOUX</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">TICTAC</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">Arnaud MARTIN</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">Volvo</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">Alice MERVEILLE</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">Wonderland</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
		</div>

		<div class="room">
			<div class="room-header">Salle 14</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">George ESTDOUX</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">TICTAC</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">Arnaud MARTIN</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">Volvo</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">Alice MERVEILLE</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">Wonderland</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
		</div>

	</div>

</div>