<div class="container-fluid" style="margin-top : 20px;">
    <form method="POST" action="#" class="form-horizontal" role="form" id="enterpriseForm">
        <div class="row">
            <div class="page-header">
                <h2>Entreprise {{enterprise.raison}}</h2>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="enterpriseName" class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">Raison sociale <span style="color: red;">*</span> : </label>
                    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="enterpriseName" ng-model="enterprise.raison" data-ng-required="true" placeholder="Raison sociale ...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="organism" class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">Organisme : </label>
                    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="organism" ng-model="enterprise.organisme" placeholder="Organisme ...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="effectif" class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">Effectif : </label>
                    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="effectif" ng-model="enterprise.effectif" placeholder="Effectif ...">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="nafCode" class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">Code NAF : </label>
                    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="nafCode" ng-model="enterprise.naf" placeholder="Code NAF ...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="SIRETNumber" class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">Numéro SIRET : </label>
                    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="SIRETNumber" ng-model="enterprise.siret" placeholder="Numéro SIRET ...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="page-header">
                <h2>Adresse de l'entreprise</h2>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="adress" class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">Adresse : </label>
                    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="adress" ng-model="enterprise.adresse" placeholder="Adresse ...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="adress2" class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">Adresse 2 : </label>
                    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="adress2" ng-model="enterprise.adresse2" placeholder="Adresse 2 ...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">N° téléphone : </label>
                    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="phoneNumber" ng-model="enterprise.tel" placeholder="N° téléphone ...">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="postalCode" class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">Code postal : </label>
                    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="postalCode" ng-model="enterprise.cp" placeholder="Code postal ...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">Ville : </label>
                    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="city" ng-model="enterprise.ville" placeholder="Ville ...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="page-header">
                <h2>Informations complémentaires</h2>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="forumAttendingYear" class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">Année participation forum : </label>
                    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="forumAttendingYear" ng-model="enterprise.anneeparticipforum" placeholder="Année participation forum ...">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="apprenticesNumber" class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">Nombre apprentis : </label>
                    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="apprenticesNumber" ng-model="enterprise.nbrapprenti" placeholder="Nombre apprentis ...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row pull-right">
            <div class="form-buttons">
                <button class="btn btn-warning" data-ng-click="remove(enterprise)">Supprimer</button>
                <button type="submit" class="btn btn-primary" data-ng-disabled="!enterprise.raison" data-ng-click="save()">Valider</button>
                <button type="submit" ng-click="redirectEnterprise()" class="btn btn-default">Annuler</button>
            </div></div>
    </form>
</div>
