<!-- bouton d'upload -->
<div data-ng-show="!filePresent">
    <a  data-dr-status data-ng-click="openDownloadPopup(fileType)">
        <i class="glyphicon glyphicon-upload"></i>
    </a>
</div>

<div class="btn-group" style="padding: 0" data-ng-show="item.type == fileType" data-ng-repeat="item in fileList">

    <a  class=" dropdown-toggle"  data-toggle="dropdown">
        <i class="glyphicon glyphicon-file"></i>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li>
            <a data-ng-click="removeFileFromServer(item)" href="">
                <i class="glyphicon glyphicon-remove"></i>
                Supprimer
            </a>
        </li>
        <li>
            <a target="_blank" href="http://localhost:8090/download/student/1/filename/{{item.name}}">
                <i class="glyphicon glyphicon-save"></i>
                Télécharger
            </a>

        </li>
    </ul>

</div>

<!-- fichier a uploader -->
<div  class="btn-group" style="padding: 0" data-ng-show="filePresent[fileType]"
      data-ng-repeat="item in uploader.queue">
    <span style="color: #555">
        <i class="glyphicon glyphicon-file"></i>
        <i  class="glyphicon glyphicon-remove" data-ng-click="removeFileFromQueue(item)"></i>
    </span>
</div>

