<div class="page-header">
    <h2>Planning</h2>
</div>

<div class="container-fluid content">

	<!-- Barre sur le coté : échelle et légende -->
	<div class="appAdminPlanningSidebar">
		
	</div>

	<!-- Content : Liste des meetings -->
	<div class="appAdminPlanning">

		<div class="room">
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">George ESTDOUX</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">TICTAC</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">Arnaud MARTIN</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">Volvo</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">Alice MERVEILLE</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">Wonderland</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
		</div>

		<div class="room">
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">George ESTDOUX</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">TICTAC</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">Arnaud MARTIN</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">Volvo</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">Alice MERVEILLE</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">Wonderland</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
		</div>

		<div class="room">
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">George ESTDOUX</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">TICTAC</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">Arnaud MARTIN</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">Volvo</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
			<div class="meeting">
				<p class="meeting-meta-student">
					<span class="meeting-label">Étudiant</span>
					<span class="meeting-value">Alice MERVEILLE</span>
				</p>
				<p class="meeting-meta-company">
					<span class="meeting-label">Entreprise</span>
					<span class="meeting-value">Wonderland</span>
				</p>
				<p class="meeting-meta-duration">
					<span class="meeting-label">Durée</span>
					<span class="meeting-value">1h30</span>
				</p>
			</div>
		</div>

	</div>

</div>